Library/
Temp/
Obj/
Build/
Builds/
Logs/
UserSettings/
MemoryCaptures/
Recordings/
Artifacts/

.idea/
.vscode/
.vs/

*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userosscache
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.VC.opendb

*.apk
*.aab
*.app
*.ipa
*.unitypackage

.DS_Store
Thumbs.db
Desktop.ini
